{# app/Resources/views/security/login.html.twig #}
{# ... you will probably extends your base template, like base.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/user/css/login.css') }}" />

{%  endblock %}



{% block body %}
    {% if error %}
        <div class="alert alert-danger fade in">
            Oops! Your username or password does not match or exist. Try again or register, please.
        </div>
    {% endif %}
    <section class="login">
        <article>

            <form action="{{ path('user_login_check') }}" method="post">
                </hr>

                {% if error %}
                 <div class="alert alert-danger fade in">
                     Invalid login credentials. </br></hr>
                {% else %}
                 <div class="alert alert-warning fade in">
                     Hi there! Please insert your credentials below. </br></hr>
                {% endif %}

                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />


                </hr>

{#                <input type="hidden" name="ticketcrud_firstindex" value="/loginLand" /> #}

                <button type="submit" class="btn btn-primary pull-right">login</button>
                </div> </div>
            </form>

        </article>
    </section>
{% endblock %}